<div class="visit-list" *ngIf="displayList">
  <div *ngFor="let item of visits" [routerLink]="item.id" routerLinkActive="active">{{item.title}}</div>
</div>
<div class="visit-details">
  <p *ngIf="displayText">Please select visit</p>
  <router-outlet (activate)="displayText = false"></router-outlet>
</div>
