:host{
  display: flex;
}

.visit-list{
  flex: 1;
  margin-right: 10px;
  & > * {
    height: 50px;
    border: 1px solid black;
    margin: 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
  }
}

.visit-details {
  flex: 3;
}

.active{
  background: green;
  color: white;
  pointer-events: none;
}
