<p>{{visit?.title}}</p>
<p>{{visit?.text}}</p>

<!--<div class="steps">-->
  <!--<div routerLink="delivery" routerLinkActive="active">Step 1</div>-->
  <!--<div routerLink="admission" routerLinkActive="active">Step 2</div>-->
  <!--<div routerLink="inwork" routerLinkActive="active">Step 3</div>-->
  <!--<div routerLink="extradition" routerLinkActive="active">Step 4</div>-->
<!--</div>-->

<div class="steps">
  <div [class.active]="visit.step === 1">Step 1</div>
  <div [class.active]="visit.step === 2">Step 2</div>
  <div [class.active]="visit.step === 3">Step 3</div>
  <div [class.active]="visit.step === 4">Step 4</div>
</div>

<ng-container [ngSwitch]="visit.step">
  <app-visit-step *ngSwitchCase="1"></app-visit-step>
  <app-visit-step *ngSwitchCase="2"></app-visit-step>
  <app-visit-step *ngSwitchCase="3"></app-visit-step>
  <app-visit-step *ngSwitchCase="4"></app-visit-step>
</ng-container>

<!--<router-outlet></router-outlet>-->
